<!DOCTYPE html>
<html>
<head>
	<title>Add Movie to Database</title>
</head>
<body>
	<div class="container">
		<div class="box-1">
		<h1> Add movie to Database</h1>
		</div>

		<form id="add-to-database-form" method="POST" action= "/addToMovieList">
		<div class="form-group">
		<label>  Movie 1 </label>
		<input type="text" name="addmovie">
		</div>
		<p></p>
		<button>Submit</button>
		</form>
        <h2> </h2>
        
		<nav>
			<a href="/">Homepage</a>
			<h2></h2>
			<a href="/about" >About Page</a>
			<h2></h2>
			<a href = "/fetchData">Fetch all Data</a>
			<h2></h2>
		</nav>
	</div> 	
	<div style ="margin-top: 500px;"></div>
</body>
</html>














